// Tagbar
//
// Super small header above the content for site name and short description.

.tagbar ul {
  margin:0;
  padding:0;
  list-style-type: none;
  display:inline-block;
  /*width:100%;*/
  background-color: $gray-2;
  float:right;
  /*text-align:right;*/
  
  & li {
    margin:0;
    /*float:right;*/
    color: $gray-4;
    & a {
      text-decoration:underline;
    }
    /*min-width:7rem;*/

/*    &:hover {
      color: $blue;
      text-decoration:underline;
    }*/
  }
}